{% extends 'main/base.html' %}

{% block title %}Demo{% endblock %}

{% block content %}
<br>
<body>
    {%if user.is_authenticated %}
        <h2>Hello {{ user }}</h2>
    {% endif %}
    {% if payments %}
        <table>
            <tr>
                <th>Payment Date</th>
                <th>Category</th>
                <th>Description</th>
                <th>Amount</th>
                <th>User</th>
            </tr>

            {% for payment in payments %}

                <tr>
                    <td>{{ payment.payment_date }}</td>
                    <td>{{ payment.category }}</td>
                    <td>{{ payment.description }}</td>
                    <td>{{ payment.amount }}</td>
                    <td>{{ payment.user }}</td>
                </tr>
        
            {% endfor %}

        </table>
    {% endif %}
</body>

{% endblock %}