<footer class="bg-dark py-1" style="margin-top: auto;">
    <div class="container text-light text-start">
        <a class="text-white me-5" href="{% url 'contacts' %}" style="text-decoration: none;">Contact us</a>
        <a class="text-white me-5" href="{% url 'contacts' %}" style="text-decoration: none;">Careers</a>
        <a class="text-white" href="{% url 'contacts' %}" style="text-decoration: none;">FAQs</a>
    </div>
    <div class="container text-light text-center">
        <p class="display-8 mb-1">FinTrack Ltd 2024</p>
        <small class="text-white-50">&copy; All rights reserved.</small>
    </div>
</footer>
