{% extends 'main/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<br>
<body>
    {%if user.is_authenticated %}
        <div class="container justify-content-center">
            <p class="text-center shadow">You are logged in as <em>{{ user }}</em></p>
            <br>
        </div>

        <div class="container justify-content-center">
            <div class="d-grid mb-4 gap-4 d-md-flex justify-content-md-center">
                    <a role="button" href="{% url 'create payment view' %}" class="btn btn-outline-secondary">New Record</a>

                    <a role="button" href="{% url 'custom chart' %}" class="btn btn-outline-secondary">Custom Chart</a>
            </div>

        </div>
        {% if payments %}
            <div class="container">
                <table class="table table-striped table-hover table-bordered">
                    <thead class="thead table-dark">
                        <tr>
                            <th scope="col">Payment Date</th>
                            <th scope="col">Category</th>
                            <th scope="col">Description</th>
                            <th scope="col">Amount</th>
                            <th scope="col">User</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for payment in payments_page %}
                            <tr>
                                <td>{{ payment.payment_date }}</td>
                                <td>{{ payment.category }}</td>
                                <td>{{ payment.description }}</td>
                                <td>{{ payment.amount }}</td>
                                <td>{{ payment.user }}</td>
                                <td class="text-center">
                                    <a href="{% url 'edit payment' payment.pk %}" role="button" class="btn btn-secondary py-0">Edit</a>
                                </td>
                                <td class="text-center">
                                    <a href="{% url 'delete payment' payment.pk %}" role="button" class="btn btn-danger py-0" data-index="{{ payment.id }}">Delete</a>
                                </td>
                            </tr>
                    
                        {% endfor %}
                    </tbody>
                </table>
                <div>
                    <nav>
                        <ul class="pagination justify-content-center dark">
                            {% if payments_page.has_previous %}
                            <li class="page-item">    
                                <a class="page-link link-dark" href="?page=1">&laquo;</a>
                            </li>
                            <li class="page-item"> 
                                <a class="page-link link-dark" href="?page={{ payments_page.previous_page_number }}">
                                    {{ payments_page.previous_page_number }}</a>
                            </li> 
                            {% endif %}
                            <li class="page-item"> 
                                <p class="page-link link-dark bg-dark text-white">{{ payments_page.number }}</p>
                            </li>
                            {% if payments_page.has_next %}
                            <li class="page-item">     
                                <a class="page-link link-dark" href="?page={{ payments_page.next_page_number }}">
                                    {{ payments_page.next_page_number }}</a>
                            </li>
                            <li class="page-item"> 
                                <a class="page-link link-dark" href="?page={{ payments_page.paginator.num_pages }}">&raquo;</a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="container border">
                <div class="row">
                    <div class="col-7">
                        {{ m_chart|safe }}
                    </div>
                    <div class="col">
                        {{ pie_chart|safe }}
                    </div>
                </div>
            </div>
            <br>
        {% endif %}
    {% else %}
        <h2>You are not logged in!</h2>
    {% endif %}
</body>

{% endblock %}